.portfolioContainer {
    padding:  50px 0px;
    width: 100%;
    background: rgb(162, 140, 228);
    text-align: center;
}

.portfolioSub {
   padding: 15px 250px;
   text-align: center;
   font-size: 30px;
   font-weight: 700;
   line-height: 80px;
   color: white;
   text-decoration: none;

}

.portfolioPics img {
    height: 150px;
    width: 250px;

}

.portfolioPics {
    padding: 10px;
    margin: 10px;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
}

.portHr {
    width: 300px;
    border: 10px solid #ede7f6;
  }



@media only screen and (max-width: 480px) {

    .portfolioContainer {
     width: 100%;
     height: 50%;
     text-align: center;
   }
 
   .portfolioSub {
       padding: 15px 20px;
       text-align: center;
   }

   .row {
    display: inherit;

}


 }
 