.aboutMe {
  padding: 40px 0px;
  width: 100%;
  background: #ede7f6;
  text-align: center;
}

.aboutContainer {
  padding: 15px 250px;
}

.aboutHr {
  width: 300px;
  border: 10px solid #b388ff;
}

.bio {
  width: 650px;
  margin-top: 25px;
  margin-left: 350px;
}

@media only screen and (max-width: 480px) {

    .aboutMe {
      width: 100%;
      height: 50%;
      text-align: center;
    }
  
    .aboutContainer {
        padding: 15px 20px;
    }

    .bio {
      width: 100%;
      margin-top: 25px;
      margin-left: 10px;
    }
  }
  