.aboutMe {
  padding: 130px 0px;
  width: 100%;
  background: rgb(201, 196, 218);
  text-align: center;
}

.aboutContainer {
  padding: 15px 250px;
}

@media only screen and (max-width: 480px) {

    .aboutMe {
      width: 100%;
      height: 50%;
      text-align: center;
    }
  
    .aboutContainer {
        padding: 15px 20px;
    }
  }
  